<!-- contactlist.ejs
Student name: Johnny Z. Song
Student id: 301167073
February 21, 2023 
-->
<%- include('partials/htmlhead') %>
</head>

<body>
  <h2 id="contactlist-header">
    <span>List of Current Customers</span>
    <form style="display: inline-block;" action="/logout" method="post">
      <button class="btn btn-dark btn-lg" name="logout">Log Out</button>
    </form>
  </h2>

  <section id="listView">
    <table id="myTable">
      <tr>
        <th id="namefield" onclick="sortTable()">Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
      <% for(let counter = 0; counter<data.length; counter++){ %>
      <tr>
        <td><%=data[counter].name%></td>
        <td><%=data[counter].phone%></td>
        <td><%=data[counter].email%></td>
        <td>
          <!-- using relative url here will cause the url getting appended to one another, which causes 404 -->
          <a href="/contactlist/edit/<%= data[counter]._id %>" class="btn btn-success" role="button">
            <i class="far fa-pen-to-square">Edit</i>
          </a>
        </td>
        <td>
          <a href="/contactlist/delete/<%= data[counter]._id %>" class="btn btn-danger" role="button">
            <i class="far fa-trash-can">Delete</i>
          </a>
        </td>
      </tr>
      <%}%>
    </table>
  </section>
  <section id="updateView">
    <form action="/contactlist/update" method="post">
      <label for="nameinput">Name</label>
      <input type="text" id="nameinput" name="nameinput" value="<%= editLoad.name %>">
      <label for="phoneinput">Phone Number</label>
      <input type="text" id="phoneinput" name="phoneinput" value="<%= editLoad.phone %>">
      <label for="emailinput">Email</label>
      <input type="text" id="emailinput" name="emailinput" value="<%= editLoad.email %>">

      <button class="btn btn-success" name="button" value="<%=editLoad._id%>">Update</button>
      <button class="btn btn-dark" name="button" value="cancel">Cancel</button>
    </form>
  </section>
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %>
</body>
</html>